lendinvest dev/force-app/main/default/flows/FlowCalloutTwilio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>send an error to inform the user that the flow didn&apos;t achieved</description>
        <name>error_Flow</name>
        <label>error Flow</label>
        <locationX>572</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>flowError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>errorSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_sms</name>
        <label>Send sms</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>TwilioUtil</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>error_Flow</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>messageToCeo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>to</name>
            <value>
                <elementReference>$Record.ceo_Mobile__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <description>This flow is created to send a sms to the CEA every time an account reach the Gold classification via twilio API</description>
    <interviewLabel>FlowCalloutTwilio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowCalloutTwilio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Time_Gold_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>sendSms</name>
            <connector>
                <targetReference>Send_sms</targetReference>
            </connector>
            <label>sendSms</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>errorSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error Flow {!$Flow.InterviewGuid}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>inform user that the flow had an error</description>
        <name>flowError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your flow  {!$Flow.InterviewGuid} {!$Flow.InterviewStartTime} on record {!$Flow.CurrentRecord}didn&apos;t achieved &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>messageToCeo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>GreatNews! A customer has hit Gold. {!$Record.Name} will get VIP treatment.</text>
    </textTemplates>
</Flow>
